.fifthStep {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.checkboxWrapperFifthStep {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    font-size: 16px;
    font-weight: 600;
    width: 70%;
}

.boxRadioFifthStep {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 15px;
    margin-top: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 150px;
    height: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.textFifthStep {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 10px;
}

.phoneNumberWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 300px;
    height: 90px;
    z-index: 2;
}

.phone {
    padding-left: 50px;
    outline: none;
    font-size: 20px;
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
}

.input {
    width: 85%;
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.45);
    outline: none;
    margin-bottom: 5px;
}

.textSixthStep {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 80px;
}

.boxRadio {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 15px;
    margin-top: 12px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 45px;
    border-radius: 4px;
}

.radio {
   display: none;
}

.fakeRadio {  
    height: 20px;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-right: 10px;
    position: relative;
}

.fakeRadio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 14px;
    width: 14px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.fakeRadio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 14px;
    width: 14px;
    background-color: #FEE9A1;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.radio:checked + .fakeRadio::before {
    opacity: 1;
}
 